<div class="banner" id="home">
  <div class="banner-content">
    <div class='opening-text'>
      Coder Apprentice
    </br>

    </div>

    <div class="sub-opening-text">
    </br>
    
    <hr> 
    </br>

      We place promising junior software developers with top notch startups in San Francisco for 3 month apprenticeships.
    </div>
  </div>
</div>

<!-- about section-->
                                                    


<!-- services section -->

<div class="container-fluid" id="services">

    <div class="services-header">
      What We Do
    </div>

  <div class="row">

    <div class="col-md-4 event-type">
      <div class="services-container">
        <h3>Apply</h3>
        </br>
        </br>
          <p>We only take the top 5 % of applicants. Our apprentices come from a variety of backgrounds. Some are recent botcamp graduates, recent university graduates or self-taught developers looking to make the jump into a full-time position.</p>
        </br>
          <ul>
            <li>Portfolio / Personal Website</li>
            <li>Link to your work</li>
            <li>Github Profile</li>
            <li>Linkedin Profile</li>
            <li>Personal Statement</li>
          </ul>
        </br>
     
      </div>
    </div>  

    <div class="col-md-4 event-type">
        <div class="services-container">
          <h3>Technical & Cultural Screen</h3>
          </br>
          </br>
          <p>After we have reviewed your application and decide to move foward we do a through technical screen to make sure you are able to contribute to a professional development team. We focus on 5 specific areas.
        </br>
        </br>
        </br>
          <ul>
            <li>Object Oriented Programing</li>
            <li>Front End & Web Development</li>
            <li>Back-End & Frameworks</li>
            <li>TDD knowledge and experience</li>
            <li>Teamworks and communication skills</li>
           </ul>
          </br>
        
        </div>
      </div> 

    <div class="col-md-4 event-type">
      <div class="services-container">
        <h3>Get Placed</h3>
        </br>
        </br>
        <p>If we decide to move foward you get placed with a one of our partner companies. We focus on finding the perfect fit for both ends. Our partner companies include some of the best startups in the Bay Area.
        </p>
      </br>
      </br>
        <ul>
          <li>Task Rabbit</li>
          <li>Couch Surfing</li>
          <li>AirBNB</li>
          <li>Zenefits</li>
          <li>HumbleBundle</li>
        </ul>
        </br>
       
     </div>
    </div>                        

  </div>

</div>

<!-- contact section -->

<div class="container-fluid" id="model">

    <div class="model-header">
      Our Model
    </div>

  <div class="row">

    <div class="col-md-6 model-type">
        <div class="model-container">
          <h3>For Developers</h3>
          </br>
          </br>
          <p>You get placed in a paid apprenticeship for a 3 month duration. If at the end of the 3 month period you receive an offer from the company you were placed at we take 6% of your first year salary.
          </br>
          </br>
          If you do not recieve an offer then there is no commitment and you owe us nothing. You walk away having gained valuable work experience and are much more atttractive candidate for other potential employers.</p>
        </br>
        </br>
      </div> 
    </div>

    <div class="col-md-6 model-type">
      <div class="model-container">
        <h3>For Companies</h3>
        </br>
        </br>
        <p>You receive a a highly skilled and capable junior developer to add to the team. Though our highly selective process you can be assured that we have throughly vetted candidates and that you will get the best fit for your team. 
        </br>
        </br>
        If you decide to convert our apprentice at the end of the 3 month apprenticeship then we charge you 6 % of first year salary for our services. 
        </p>    
        </br>
        </br>
       
     </div>
    </div>                        

  </div>

</div>

<!--contact section-->

<div class="contact-container" id="contact">
  <div class="container-fluid">
    <div class="row">
    <div class="contact-left col-md-6">
      <h1>Contact</h1>
      </br>
      
      <h2>For Developers</h2>
      info@coderapprentice.com
      </br>
      </br>
      </br>
      
      <h2>For Companies</h2>
      partnerships@coderapprentice.com
      </br>

    </div>
    <div class="contact-right col-md-6">
      <%= image_tag("san-francisco.png") %>
    </div>
    </div>
  </div>
</div>