@import "bootstrap";
@import "bootstrap-sprockets";

@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Lobster|Dancing+Script|Bangers|Orbitron|Audiowide);

/** body **/

body {
	position: relative;
}
/** navbar **/

.navbar {
	margin: 0px;
	border-bottom: 0px;
}

.navbar-inverse {
	background-color: #222222;
}

.navbar-inverse .navbar-header .navbar-brand {
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 36px;
  font-family: 'Rokkitt', serif;
  font-size: 26px;
  font-weight: bold; 
}

.navbar-container-right .navbar-right > li > a {
	color: white;
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	font-weight: bold; 
}

.navbar-container-right .navbar-right > li > a:hover {
	color: black;
}

.container-fluid {
	padding-top: 10px;
}

/** baner **/

.banner {
	background-image: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),image-url('banner2.jpg');   
	height: 680px;
	margin-top: 0px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-content {
	text-align: center;
	font-weight: 50; 
	padding-top: 90px;
	padding-bottom: 150px;
	color: white;
}

.opening-text {
	text-shadow: 1px 1px 1px #666666;
	padding-left: 300px;
	padding-right: 300px;
	font-size: 100px;
	line-height: 115%;
	font-family: 'Rokkitt', serif;
	padding-top: 70px;
	font-weight: 100;
}

.sub-opening-text {
	font-size: 28px;
	padding-left: 300px;
	padding-right: 300px;
	font-family: 'Rokkitt', serif;
}


/** about page **/

/** services **/

.services-header {
	color: #222222;
	text-align: center;
	font-size: 40px;
	font-family: 'Rokkitt', serif;
	padding-top: 50px;
	padding-bottom: 10px;
}

#services {
	background-color: #FFFFFF;
	color: white;
	font-family: 'Rokkitt', serif;
	padding-bottom: 50px;
	margin: 0px;
}

.services-type {
}

.services-container {
	background-color: #FFFFFF;
	color: #222222;
	text-align: left;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 40px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.services-container h3 {
	text-align: center;
}

.services-container li {
	text-align: left;
}

.glyphicon {
	font-size: 85px;
	color: #222222;
}

/** model **/

#model {
	background-color: #222222;
	color: white;
	font-family: 'Rokkitt', serif;
	padding-bottom: 50px;
	margin: 0px;
}

.model-header {
	text-align: center;
	font-size: 35px;
	padding-top: 40px;
	padding-bottom: 30px;
}
.model-type {
}

.model-container {
	background-color: white;
	color: #222222;
	text-align: justify;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.model-container li {
	text-align: left;
}

.model-container h3 {
	text-align: center;
}

/**--contact----*/

.contact-container {
	height: 550px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 20px;
	padding-left: 100px;
	padding-right: 130px;
	padding-top: 60px;
	text-align: justify;
}

.contact-left {
	padding-right: 50px;
	padding-top: 10px;
}

.contact-left h1 {
	padding-bottom: 30px;
	padding-top: 10px;
}

.contact-right {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 22px;
	color: white; 
	margin-top: -10px;
}
